/* todo cleanup */

.hero {
  position: relative;

  padding-top: 195px;
  padding-bottom: 325px;

  max-width: 1440px;
  margin: 0 auto;
}

.heroImageContainer {
  position: absolute;
  width: 1440px;
  height: 696px;
  top: 0;
  left: 0;
  z-index: -1;
}

.heroImage {
  object-fit: cover;
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.text {
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  font-weight: 600;
  color: var(--inputs);
}

.title {
  font-size: 48px;
  line-height: 0.7;
}

.description {
  font-size: 24px;
  line-height: 1.3;
}

.link {
  width: 173px;
  height: 56px;
}
